.ContactPage {
    position: absolute;
    left: 60%;
    top: 50%;
}

.ContactPage .contact-list {
    list-style: none;
}

.ContactPage a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 640px) {

    .ContactPage {
        left: 35%;
        top: 70%;
    }
}